// :root {
// --c-brand: #42b883;
// --c-brand-light: #42d392;
// --c-brand-dark: #33a06f;
// }
@font-face {
  font-family: 'HanRounded';
  src: url('/docs/HanRounded.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'HanRounded';
}
.heroText {
  font-family: initial;
}
.dark .logo {
    filter: invert(1);
}